*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-color: #f8f4ec;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
}

section nav{
   width: 100%;
   height: 70px;
   padding-top: 25px;
   background: #fff; 
}

section nav ul{
    list-style: none;
    text-align: center;
}

section nav ul li{
    display: inline-block;
    font-size: 21px;
    margin: 0 18px;
    font-family: "Euphemia";
    cursor: pointer;
    transition: 0.4s;
}

section nav ul li:hover{
    color: #98e54c;
}

section .text{
    position: absolute;
    top: 250px;
    left: 5%;
}

section .text .word{
    color: #cfcfcf;
    font-size: 14px;
    letter-spacing: 1px;
}

section .text h1{
    font-size: 50px;
    color: #ffff;
    line-height: 65px;
}

section .text h1 span{
    color: #98e54c;
}

section .text .textarea{
    width: 600px;
    margin-top: 20px;
    color: #cfcfcf;
    text-align: justify;
    line-height: 25px;
}

section .text .search_bar{
    width: 400px;
    padding: 0 10px;
    background: #fff;
    margin-top: 28px;
}

section .text .search_bar input{
    width: 359px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    padding: 0 5px;
}

section .text .search_bar button{
    position: absolute;
    left: 400px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background: #98e54c;
    border: 0;
}